<%- include('script', { config: config }); %>
<nav id="navbar" class="navbar navbar-expand-lg fixed-top p-0 text-white">
    <div class="d-lg-flex w-100 align-items-start">
        <a class="navbar-brand text-primary" href="./">
            <img class="d-none d-lg-block navbar-brand__img" src="img/logo.png" alt="logo">
            <img class="d-lg-none navbar-brand__img" src="img/logo-small.png" alt="logo">
        </a>
        <button type="button" class="d-lg-none navbar-toggle collapsed" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar top-bar"></span>
            <span class="icon-bar middle-bar"></span>
            <span class="icon-bar bottom-bar"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="./">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="gallery">Gallery</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link page-scroll" href="rsvp">RSVP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="blog">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="blog-single">Single Post</a>
                </li> -->
                <li class="nav-item d-flex ml-lg-4">
                    <a class="nav-link nav-link_social" href="<%= config.youtube %>" target="_blank">
                        <i class="fa fa-2x fa-youtube-play"></i>
                    </a>
                    <!-- <a class="nav-link nav-link_social" href="#">
                        <i class="fa fa-2x fa-twitter-square"></i>
                    </a>
                    <a class="nav-link nav-link_social" href="#">
                        <i class="fa fa-2x fa-google-plus-square"></i>
                    </a> -->
                </li>
                <li class="nav-item ml-lg-4 d-lg-none">
                    <span class="nav-link">&copy; Joseph and Sophia 2018.</span>
                </li>
            </ul>
        </div>
    </div>
</nav>
