<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h4>禮金收取明細</h4>
        </div>
        <div class="card-body">
            <h5 class="card-title font-weight-bold text-danger">請優先確認金額是否正確</h5>
            <div class="container-fluid d-flex align-items-center">
                <div><a href="accountant" class="btn btn-primary my-auto">輸入下一位賓客資料</a></div>
                <div class="display-4 ml-auto">Total: <span id="total"></span></div>
            </div>
            <table id="recDetailTable"></table>
        </div>
    </div>
</div>
