<div class="container mt-5">
    <div class="card text-center mx-auto" style="max-width: 400px;">
        <div class="card-header">
            <h4>賓客收禮狀態</h4>
        </div>
        <div class="card-body text-center">
            <%- include("./components/greeting") %>
            <% if (cash_gift > 0) { %>
            <p class="card-text mb-4 font-weight-bold bg-warning">已收禮，請確認金額是否正確<br>重複輸入將覆蓋原始金額</p>
            <% } %>
            <div class="form-group row justify-content-center mb-4">
                <label for="gift-money" class="col-3 col-form-label text-right">禮金</label>
                <div class="col-9 input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                    </div>
                    <input type="text" class="form-control" id="gift_money" name="gift_money" placeholder="請輸入金額，不收禮請打0" value="<%-cash_gift%>" maxlength="6">
                </div>
            </div>
            <p class="card-text mt-4"></p>
            <input type="hidden" id="gift_id" value="<%- id %>">
            <button type="button" class="btn btn-primary" id="recMoney">確認輸入</button>
        </div>
    </div>
</div>
