<div class="container mt-5">
    <div class="card text-center mx-auto" style="max-width: 400px;">
        <div class="card-header">
            <h4>賓客收禮作業</h4>
        </div>
        <div class="card-body">
            <h4 class="card-title">以下欄位請擇一輸入即可</h4>
            <form method="get" id="accountantForm">
                <div class="form-group">
                    <label for="guest-id">賓客編號:</label>
                    <select class="custom-select" name="id" id="showIdName"></select>
                </div>
                <div class="form-group">
                    <label for="temporary-participant">臨時參與:</label>
                    <input type="text" class="form-control text-center" id="temporary-participant" name="addName" placeholder="請輸入臨時參加人員姓名">
                </div><br>
                <button type="submit" class="btn btn-primary btn-lg" id="search-btn">搜尋</button>
            </form>
        </div>
    </div>
</div>
