<section class="page-hero">
    <div class="c-hero-banner c-hero-banner--md">
        <div class="c-hero-banner__section c-hero-banner__image img--cover">
            <img class="lazyload" src="img/banner-blog.jpg" alt="image" />
        </div>
        <div class="jumbotron jumbotron--bottom text-light p-0">
            <h1 class="text-light title--special">Single Post</h1>
            <p class="lead d-none d-md-block">Find our best stories in these articles. Enjoy the reading and our love</p>
        </div>
        <div class="c-hero-banner__mask">
            <img src="img/mask.png" alt="mask_img">
        </div>
    </div>
</section>
<section id="news" class="py-5">
    <div class="container">
            <div class="mb-1 breadcrumbs">
                <a href="/">Home</a> <i class="fa fa-circle"></i>
                <a href="blog" rel="category tag">Wedding</a> <i class="fa fa-circle"></i> First we meet</div>
        <div class="row">
            <div class="col-md-8 primary-block mb-4 mb-md-0">
                <div class="post-article">
                    <div class="single-post_banner">
                        <img src="img/article.jpg" alt="article image">
                    </div>
                    <h1 class="single-post_title">Story of love</h1>
                    <div class="post-tags card-tags">
                        <span><a href="#">love</a></span>
                        <span><a href="#">wedding</a></span>
                        <span><a href="#">we</a></span>
                        <span><a href="#">love story</a></span>
                    </div>
                    <div class="post-content">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32. The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
                        <p class="post-hightlight">The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                        <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                        <blockquote>There are only four questions of value in life. What is sacred? Of what is the spirit made? What is worth living for, and what is worth dying for? The answer to each is the same: only love.
                        <cite>- Don Juan Demarco</cite>
                        </blockquote>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                    </div>
                    <div class="blog-item_meta">
                        <span class="posted_date">March 4, 2019</span>
                        <span class="by">by Anna Maria</span>
                        <span class="comment">4 Comments</span>
                    </div>
                </div>
                <div>
                    <div class="post__author d-flex clearfix">
                        <div class="post-author__img">
                            <img alt="" src="https://1.gravatar.com/avatar/a3de8c687cbc2f5c759fa62b7b729ffe?s=160&amp;d=mm&amp;r=g" srcset="https://1.gravatar.com/avatar/a3de8c687cbc2f5c759fa62b7b729ffe?s=320&amp;d=mm&amp;r=g 2x" class="avatar avatar-160 photo" height="160" width="160">						</div>
                        <div class="post-author__meta">
                            <span class="post-author__name">
                                Anna Maria							</span>
                            <div class="post-author__desc">
                                <p>Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Comments -->
                <div id="comments" class="comments-area">
                    <h3 class="comments-title">
                        Comments
                    </h3>
                    <!-- .comments-title -->
                    <ol class="comment-list">
                        <li class="comment even thread-even depth-1" id="li-comment-13">
                            <div id="comment-13">
                                <div class="comment-author vcard clearfix">
                                    <div class="comment-authot__img">
                                        <img alt="" src="https://2.gravatar.com/avatar/58b6060b0cca52af7b33787196323459?s=80&amp;d=mm&amp;r=g" srcset="https://2.gravatar.com/avatar/58b6060b0cca52af7b33787196323459?s=160&amp;d=mm&amp;r=g 2x" class="avatar avatar-80 photo" height="80" width="80">
                                    </div>
                                    <div class="comment-author__meta">
                                        <div class="comment-author__name"><a href="https://shields.org/est-laborum-blanditiis-quod-in-quia-voluptatem-es" rel="external nofollow" class="url">Dr. Hobart Abernathy</a></div>
                                        <div class="comment-meta commentmetadata">
                                            17 Mar 2019							(Edit)
                                        </div>
                                        <div class="comment__text">
                                            <p>Animi ex enim minus consequatur quia laborum. Laboriosam est unde et ad et id. Explicabo optio voluptas consequuntur aliquid voluptas. Ipsam quaerat laudantium molestias voluptas occaecati labore.</p>
                                        </div>
                                        <div class="comment__reply">
                                            <a rel="nofollow" class="comment-reply-link" href="https://jasontech.cf/wedding/projects/wp/queenflowers/2019/03/04/first-we-meet/?replytocom=13#respond" data-commentid="13" data-postid="20" data-belowelement="comment-13" data-respondelement="respond" aria-label="Reply to Dr. Hobart Abernathy">Reply</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- #comment-## -->
                        <li class="comment odd alt thread-odd thread-alt depth-1" id="li-comment-14">
                            <div id="comment-14">
                                <div class="comment-author vcard clearfix">
                                    <div class="comment-authot__img">
                                        <img alt="" src="https://0.gravatar.com/avatar/9897267da4a99ad5e294d2048588777b?s=80&amp;d=mm&amp;r=g" srcset="https://0.gravatar.com/avatar/9897267da4a99ad5e294d2048588777b?s=160&amp;d=mm&amp;r=g 2x" class="avatar avatar-80 photo" height="80" width="80">
                                    </div>
                                    <div class="comment-author__meta">
                                        <div class="comment-author__name"><a href="https://www.feest.com/quaerat-sint-esse-quas-magnam-excepturi-fugit.htm" rel="external nofollow" class="url">Kyra Ritchie</a></div>
                                        <div class="comment-meta commentmetadata">
                                            17 Mar 2019							(Edit)
                                        </div>
                                        <div class="comment__text">
                                            <p>Possimus quia consectetur tenetur tempora mollitia sed. Tenetur quaerat dolorem illo saepe nihil consequatur id. Illo et rem error sed.</p>
                                            <p>Quam qui ut ut vitae incidunt. Dicta voluptates qui voluptatibus debitis laudantium nostrum. Aut placeat tempore at ad incidunt expedita. Nostrum voluptatibus nisi qui laboriosam numquam et. Sit at quia sed ut consequuntur reprehenderit.</p>
                                        </div>
                                        <div class="comment__reply">
                                            <a rel="nofollow" class="comment-reply-link" href="https://jasontech.cf/wedding/projects/wp/queenflowers/2019/03/04/first-we-meet/?replytocom=14#respond" data-commentid="14" data-postid="20" data-belowelement="comment-14" data-respondelement="respond" aria-label="Reply to Kyra Ritchie">Reply</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- #comment-## -->
                        <li class="comment even thread-even depth-1" id="li-comment-15">
                            <div id="comment-15">
                                <div class="comment-author vcard clearfix">
                                    <div class="comment-authot__img">
                                        <img alt="" src="https://0.gravatar.com/avatar/973843a37c0e51b74c62ddeaee739046?s=80&amp;d=mm&amp;r=g" srcset="https://0.gravatar.com/avatar/973843a37c0e51b74c62ddeaee739046?s=160&amp;d=mm&amp;r=g 2x" class="avatar avatar-80 photo" height="80" width="80">
                                    </div>
                                    <div class="comment-author__meta">
                                        <div class="comment-author__name"><a href="https://fadel.com/id-excepturi-rerum-cumque-aspernatur-a-expedit" rel="external nofollow" class="url">Priscilla White</a></div>
                                        <div class="comment-meta commentmetadata">
                                            17 Mar 2019							(Edit)
                                        </div>
                                        <div class="comment__text">
                                            <p>Minus rem suscipit ut. Officia officia cum et dolor. Incidunt recusandae maxime eum maiores laudantium veniam nihil. Ut molestias totam accusantium sunt. Fuga laborum eaque quo delectus fuga quo.</p>
                                            <p>Voluptate omnis iusto qui ab exercitationem a ab ut. Consequatur sunt accusantium qui eum asperiores quasi enim.</p>
                                        </div>
                                        <div class="comment__reply">
                                            <a rel="nofollow" class="comment-reply-link" href="https://jasontech.cf/wedding/projects/wp/queenflowers/2019/03/04/first-we-meet/?replytocom=15#respond" data-commentid="15" data-postid="20" data-belowelement="comment-15" data-respondelement="respond" aria-label="Reply to Priscilla White">Reply</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- #comment-## -->
                        <li class="comment odd alt thread-odd thread-alt depth-1" id="li-comment-16">
                            <div id="comment-16">
                                <div class="comment-author vcard clearfix">
                                    <div class="comment-authot__img">
                                        <img alt="" src="https://1.gravatar.com/avatar/ab60e2609043bfe1bb698e953ce17bb5?s=80&amp;d=mm&amp;r=g" srcset="https://1.gravatar.com/avatar/ab60e2609043bfe1bb698e953ce17bb5?s=160&amp;d=mm&amp;r=g 2x" class="avatar avatar-80 photo" height="80" width="80">
                                    </div>
                                    <div class="comment-author__meta">
                                        <div class="comment-author__name"><a href="https://davis.com/" rel="external nofollow" class="url">Prof. Stone Gleason</a></div>
                                        <div class="comment-meta commentmetadata">
                                            17 Mar 2019							(Edit)
                                        </div>
                                        <div class="comment__text">
                                            <p>Sed illum eos voluptates molestiae quisquam. Hic blanditiis consectetur dicta minima. Ipsam et consectetur pariatur sapiente. Tempore enim laudantium numquam dolorum.</p>
                                        </div>
                                        <div class="comment__reply">
                                            <a rel="nofollow" class="comment-reply-link" href="https://jasontech.cf/wedding/projects/wp/queenflowers/2019/03/04/first-we-meet/?replytocom=16#respond" data-commentid="16" data-postid="20" data-belowelement="comment-16" data-respondelement="respond" aria-label="Reply to Prof. Stone Gleason">Reply</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- #comment-## -->
                    </ol>
                    <!-- .comment-list -->
                    <div id="respond" class="comment-respond">
                        <h3 id="reply-title" class="comment-reply-title">Leave a Reply <small><a rel="nofollow" id="cancel-comment-reply-link" href="https://jasontech.cf/wedding/projects/wp/queenflowers/2019/03/04/first-we-meet/#respond" style="display:none;">Cancel reply</a></small></h3>
                        <form action="https://jasontech.cf/wedding/projects/wp/queenflowers/wp-comments-post.php" method="post" id="commentform" class="comment-form" novalidate="">
                            <p class="comment-notes"><span id="email-notes">Your email address will not be published.</span> Required fields are marked <span class="required">*</span></p>
                            <p class="comment-form-comment"><label for="comment">Comment</label> <textarea id="comment" name="comment" cols="45" rows="8" maxlength="65525" required="required"></textarea></p>
                            <p class="comment-form-author"><input id="author" name="author" type="text" placeholder="Name*" value="" size="30"></p>
                            <p class="comment-form-email"><input id="email" name="email" type="text" placeholder="Email*" value="" size="30"></p>
                            <p class="comment-form-cookies-consent"><input id="wp-comment-cookies-consent" name="wp-comment-cookies-consent" type="checkbox" value="yes"><label for="wp-comment-cookies-consent">Save my name, email, and website in this browser for the next time I comment.</label></p>
                            <p class="form-submit"><input name="submit" type="submit" id="submit" class="submit" value="Post Comment"> <input type="hidden" name="comment_post_ID" value="20" id="comment_post_ID">
                                <input type="hidden" name="comment_parent" id="comment_parent" value="0">
                            </p>
                        </form>
                    </div>
                    <!-- #respond -->
                </div>
            </div> <!-- col-md-8 -->
            <div class="col-md-4">
                    <div class="widget-area aside p-1">
                        <section id="search-2" class="widget widget_search">
                            <form role="search" method="get" id="searchform" action="#">
                                <input class="search-field" type="text" value="" name="s" id="s" placeholder="Search">
                                <button class="search-submit" type="submit" id="searchsubmit"><i class="fa fa-search"></i></button>
                            </form>
                        </section>
                        <section id="my_custom_widget-1" class="widget widget_my_custom_widget">
                            <div class="widget-author wp_widget_plugin_box">
                                <div class="widget-author__image">
                                    <img alt="" src="https://1.gravatar.com/avatar/a3de8c687cbc2f5c759fa62b7b729ffe?s=226&amp;d=mm&amp;r=g" srcset="https://1.gravatar.com/avatar/a3de8c687cbc2f5c759fa62b7b729ffe?s=452&amp;d=mm&amp;r=g 2x" class="avatar avatar-226 photo" height="226" width="226">
                                </div>
                                <div class="widget-author__name">Anna Maria</div>
                                <div class="widget-author__desc">Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus.</div>
                            </div>
                        </section>
                        <section id="recent-posts-2" class="widget widget_recent_entries">
                            <h2 class="widget-title">Recent Posts</h2>
                            <ul>
                                <li>
                                    <div class="d-flex">
                                        <div class="widget-rp__img">
                                            <img width="80" height="80" src="img/latest-post1.html" class="attachment-small-thumbnail size-small-thumbnail wp-post-image" alt="post">
                                        </div>
                                        <div class="widget-rp__content">
                                            <a href="blog-single.html">First we meet</a>
                                            <div class="post-date">March 4, 2019</div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-flex">
                                        <div class="widget-rp__img">
                                            <img width="80" height="80" src="img/latest-post2.html" class="attachment-small-thumbnail size-small-thumbnail wp-post-image" alt="post">
                                        </div>
                                        <div class="widget-rp__content">
                                            <a href="blog-single.html">Bridesmaids</a>
                                            <div class="post-date">March 3, 2019</div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-flex">
                                        <div class="widget-rp__img">
                                            <img width="80" height="80" src="img/latest-post3.html" class="attachment-small-thumbnail size-small-thumbnail wp-post-image" alt="post">
                                        </div>
                                        <div class="widget-rp__content">
                                            <a href="blog-single.html">Our Wedding</a>
                                            <div class="post-date">March 2, 2019</div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-flex">
                                        <div class="widget-rp__img">
                                            <img width="80" height="80" src="img/latest-post4.html" class="attachment-small-thumbnail size-small-thumbnail wp-post-image" alt="post">
                                        </div>
                                        <div class="widget-rp__content">
                                            <a href="blog-single.html">First date</a>
                                            <div class="post-date">February 27, 2019</div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-flex">
                                        <div class="widget-rp__img">
                                            <img width="80" height="80" src="img/latest-post5.html" class="attachment-small-thumbnail size-small-thumbnail wp-post-image" alt="post">
                                        </div>
                                        <div class="widget-rp__content">
                                            <a href="blog-single.html">Wedding Party</a>
                                            <div class="post-date">February 25, 2019</div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </section>
                        <section id="categories-2" class="widget widget_categories">
                            <h2 class="widget-title">Categories</h2>
                            <ul>
                                <li class="cat-item cat-item-2"><a href="#">Love</a></li>
                                <li class="cat-item cat-item-3"><a href="#">Friends</a></li>
                                <li class="cat-item cat-item-4"><a href="#">Wedding</a></li>
                                <li class="cat-item cat-item-4"><a href="#">Family</a></li>
                                <li class="cat-item cat-item-4"><a href="#">Party</a></li>
                            </ul>
                        </section>
                        <section id="tag_cloud-1" class="widget widget_tag_cloud">
                            <h2 class="widget-title">Tags</h2>
                            <div class="tagcloud">
                                <a href="#" class="tag-cloud-link tag-link-5 tag-link-position-1" aria-label="love (2 items)">love</a>
                                <a href="#" class="tag-cloud-link tag-link-6 tag-link-position-2" aria-label="wedding (2 items)">wedding</a>
                                <a href="#" class="tag-cloud-link tag-link-6 tag-link-position-2" aria-label="wedding (2 items)">party</a>
                                <a href="#" class="tag-cloud-link tag-link-6 tag-link-position-2" aria-label="wedding (2 items)">family</a>
                            </div>
                        </section>
                        <p class="text-secondary font-italic mt-3">
                            Duis pharetra codeply varius quam sit amet vulputate. Quisque Sed and Codeply editor ac orci quis tortor imperdiet venenatis. Duis elementum auctor
                            accumsan. Aliquam in felis sit amet augue.
                        </p>
                    </div>
            </div> <!-- col-md-4 -->
        </div><!-- row -->
    </div>
</section>
