<section class="page-hero">
    <div class="c-hero-banner c-hero-banner--md">
        <div class="c-hero-banner__section c-hero-banner__image img--cover">
            <img class="lazyload" src="img/banner-blog.jpg" alt="image" />
        </div>
        <div class="jumbotron jumbotron--bottom text-light p-0">
            <h1 class="text-light title--special">Our blog</h1>
            <p class="lead d-none d-md-block">Find our best stories in these articles. Enjoy the reading and our love</p>
        </div>
        <div class="c-hero-banner__mask">
            <img src="img/mask.png" alt="mask_image">
        </div>
    </div>
</section>
<section id="news" class="py-3 py-sm-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="card bg-white mb-3">
                    <a href="blog-single" class="mh-300 card-image">
                        <img class="card-img img-fluid rounded-0" src="img/article.jpg" alt="card bg-white image cap">
                    </a>
                    <div class="card-body">
                        <a href="blog-single">
                            <h2 class="card-title">First we meet</h2>
                        </a>
                        <div class="card-tags font-weight-normal">
                            <!-- tags-->
                            <span><a class="card-category" href="blog-single">Love</a></span> <span><a
                                    class="card-category" href="blog-single">Wedding</a></span>
                            <!-- / tags-->
                        </div>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation...</p>
                        <ul class="card-bottom">
                            <li class="card-date">
                                <span>March 4, 2019</span>
                            </li>
                            <li>
                                <a href="blog-single">Readmore</a>
                            </li>
                            <li class="card-comments">
                                <span>5 Comments</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card bg-white mb-3">
                    <a href="blog-single" class="mh-300 card-image">
                        <img class="card-img img-fluid rounded-0" src="img/article.jpg" alt="card bg-white image cap">
                    </a>
                    <div class="card-body">
                        <a href="blog-single">
                            <h2 class="card-title">First date</h2>
                        </a>
                        <div class="card-tags font-weight-normal">
                            <!-- tags-->
                            <span><a class="card-category" href="blog-single">Love</a></span> <span><a
                                    class="card-category" href="blog-single">Wedding</a></span>
                            <!-- / tags-->
                        </div>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation...</p>
                        <ul class="card-bottom">
                            <li class="card-date">
                                <span>March 4, 2019</span>
                            </li>
                            <li>
                                <a href="blog-single">Readmore</a>
                            </li>
                            <li class="card-comments">
                                <span>5 Comments</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card bg-white mb-3">
                    <a href="blog-single" class="mh-300 card-image">
                        <img class="card-img img-fluid rounded-0" src="img/article.jpg" alt="card bg-white image cap">
                    </a>
                    <div class="card-body">
                        <a href="blog-single">
                            <h2 class="card-title">Story of love</h2>
                        </a>
                        <div class="card-tags font-weight-normal">
                            <!-- tags-->
                            <span><a class="card-category" href="blog-single">Love</a></span> <span><a
                                    class="card-category" href="blog-single">Wedding</a></span>
                            <!-- / tags-->
                        </div>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation...</p>
                        <ul class="card-bottom">
                            <li class="card-date">
                                <span>March 4, 2019</span>
                            </li>
                            <li>
                                <a href="blog-single">Readmore</a>
                            </li>
                            <li class="card-comments">
                                <span>5 Comments</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <nav aria-label="...">
                    <ul class="pagination mb-4 mb-md-0">
                        <li class="page-item disabled">
                            <span class="page-link rounded-0">Previous</span>
                        </li>
                        <li class="page-item active">
                            <span class="page-link">
                                1
                                <span class="sr-only">(current)</span>
                            </span>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item">
                            <a class="page-link rounded-0" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div> <!-- col-md-8 -->
            <div class="col-md-4">
                <div class="widget-area aside p-1">
                    <section id="search-2" class="widget widget_search">
                        <form role="search" method="get" id="searchform" action="#">
                            <input class="search-field" type="text" value="" name="s" id="s" placeholder="Search">
                            <button class="search-submit" type="submit" id="searchsubmit"><i
                                    class="fa fa-search"></i></button>
                        </form>
                    </section>
                    <section id="my_custom_widget-1" class="widget widget_my_custom_widget">
                        <div class="widget-author wp_widget_plugin_box">
                            <div class="widget-author__image">
                                <img alt=""
                                    src="https://1.gravatar.com/avatar/a3de8c687cbc2f5c759fa62b7b729ffe?s=226&amp;d=mm&amp;r=g"
                                    srcset="https://1.gravatar.com/avatar/a3de8c687cbc2f5c759fa62b7b729ffe?s=452&amp;d=mm&amp;r=g 2x"
                                    class="avatar avatar-226 photo" height="226" width="226">
                            </div>
                            <div class="widget-author__name">Anna Maria</div>
                            <div class="widget-author__desc">Aliquam lorem ante, dapibus in, viverra quis, feugiat
                                a, tellus. Phasellus viverra nulla ut metus.</div>
                        </div>
                    </section>
                    <section id="recent-posts-2" class="widget widget_recent_entries">
                        <h2 class="widget-title">Recent Posts</h2>
                        <ul>
                            <li>
                                <div class="d-flex">
                                    <div class="widget-rp__img">
                                        <img width="80" height="80" src="img/latest-post1.html"
                                            class="attachment-small-thumbnail size-small-thumbnail wp-post-image"
                                            alt="post">
                                    </div>
                                    <div class="widget-rp__content">
                                        <a href="blog-single">First we meet</a>
                                        <div class="post-date">March 4, 2019</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex">
                                    <div class="widget-rp__img">
                                        <img width="80" height="80" src="img/latest-post2.html"
                                            class="attachment-small-thumbnail size-small-thumbnail wp-post-image"
                                            alt="post">
                                    </div>
                                    <div class="widget-rp__content">
                                        <a href="blog-single">Bridesmaids</a>
                                        <div class="post-date">March 3, 2019</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex">
                                    <div class="widget-rp__img">
                                        <img width="80" height="80" src="img/latest-post3.html"
                                            class="attachment-small-thumbnail size-small-thumbnail wp-post-image"
                                            alt="post">
                                    </div>
                                    <div class="widget-rp__content">
                                        <a href="blog-single">Our Wedding</a>
                                        <div class="post-date">March 2, 2019</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex">
                                    <div class="widget-rp__img">
                                        <img width="80" height="80" src="img/latest-post4.html"
                                            class="attachment-small-thumbnail size-small-thumbnail wp-post-image"
                                            alt="post">
                                    </div>
                                    <div class="widget-rp__content">
                                        <a href="blog-single">First date</a>
                                        <div class="post-date">February 27, 2019</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex">
                                    <div class="widget-rp__img">
                                        <img width="80" height="80" src="img/latest-post5.html"
                                            class="attachment-small-thumbnail size-small-thumbnail wp-post-image"
                                            alt="post">
                                    </div>
                                    <div class="widget-rp__content">
                                        <a href="blog-single">Wedding Party</a>
                                        <div class="post-date">February 25, 2019</div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </section>
                    <section id="categories-2" class="widget widget_categories">
                        <h2 class="widget-title">Categories</h2>
                        <ul>
                            <li class="cat-item cat-item-2"><a href="#">Love</a></li>
                            <li class="cat-item cat-item-3"><a href="#">Friends</a></li>
                            <li class="cat-item cat-item-4"><a href="#">Wedding</a></li>
                            <li class="cat-item cat-item-4"><a href="#">Family</a></li>
                            <li class="cat-item cat-item-4"><a href="#">Party</a></li>
                        </ul>
                    </section>
                    <section id="tag_cloud-1" class="widget widget_tag_cloud">
                        <h2 class="widget-title">Tags</h2>
                        <div class="tagcloud">
                            <a href="#" class="tag-cloud-link tag-link-5 tag-link-position-1"
                                aria-label="love (2 items)">love</a>
                            <a href="#" class="tag-cloud-link tag-link-6 tag-link-position-2"
                                aria-label="wedding (2 items)">wedding</a>
                            <a href="#" class="tag-cloud-link tag-link-6 tag-link-position-2"
                                aria-label="wedding (2 items)">party</a>
                            <a href="#" class="tag-cloud-link tag-link-6 tag-link-position-2"
                                aria-label="wedding (2 items)">family</a>
                        </div>
                    </section>
                    <p class="text-secondary font-italic mt-3">
                        Duis pharetra codeply varius quam sit amet vulputate. Quisque Sed and Codeply editor ac orci
                        quis tortor imperdiet venenatis. Duis elementum auctor
                        accumsan. Aliquam in felis sit amet augue.
                    </p>
                </div>
            </div> <!-- col-md-4 -->
        </div><!-- row -->
    </div>
</section>
