<div class="container mt-5">
    <div class="card text-center mx-auto" style="max-width: 400px;">
        <div class="card-header">
            <h4>賓客取餅作業</h4>
        </div>
        <div class="card-body">
            <%- include("components/greeting") %>
            <% if (typeof received !== 'undefined' && received) { %>
                <form method="get" action="cakes">
                    <p class="card-text">已領取囍餅</p>
                    <button type="submit" class="btn btn-primary btn-lg" id="cake_received">下一筆</button>
                </form>
            <% } else { %>
                <form method="get" action="receiveCakes">
                    <input type="hidden" name="id" value="<%- id -%>">
                    <div class="form-group">
                        <p class="bg-warning font-weight-bold"><%- (check_in > 0) ? "已報到" : (check_in === 0) ? "此貴賓不入席" : "尚未報到，請記得先掃QRCODE報到" %><br>
                            <%- (receive> 0 || (wedding_cake + chinese_cake) == 0) ? "此賓客已完成取餅作業" : (check_in === 0) ? "囍餅將由新人寄送或現場領取" : "尚未領取囍餅" %>
                        </p>
                        <% if ((wedding_cake + chinese_cake) > 0) { %>
                        <p class="card-text mb-2">
                            <span class="font-weight-bold text-danger">囍餅 <%- (wedding_cake > 0) ? wedding_cake : (chinese_cake > 0 ? chinese_cake + " (中式)" : ""); %>份
                            <%- (cake_box_color.length > 0) ? `<br><span style="color: var(--purple)">喜餅盒顏色 : ${cake_box_color}</span>` : ""; %>
                            <%- receive > 0 ? "，已領取" : "" %>
                            </span>
                        </p>
                        <% } %>
                    </div>
                    <% if (receive > 0 || (wedding_cake + chinese_cake) == 0 || check_in === 0) { %>
                        <a class="btn btn-primary btn-lg" href="cakes">下一筆</a>
                    <% } %>
                    <% if (receive == 0 && (wedding_cake + chinese_cake) > 0 ) { %>
                        <button type="submit" class="btn btn-primary btn-lg" id="cake_received">確認取餅</button>
                    <% } %>
                </form>
            <% } %>
        </div>
    </div>
</div>
