<div class="container mt-5">
    <div class="card text-center mx-auto" style="max-width: 400px;">
        <div class="card-header">
            <h4>發餅作業</h4>
        </div>
        <div class="card-body">
            <form method="get">
                <div class="form-group">
                    <label for="guest-id">賓客編號:</label>
                    <select class="custom-select" name="id" id="showIdName"></select>
                </div>
                <button type="submit" class="btn btn-primary btn-lg" id="search-btn">搜尋</button>
            </form>
        </div>
    </div>
</div>
