

<section class="page-hero">
    <div class="c-hero-banner c-hero-banner--md">
        <div class="c-hero-banner__section c-hero-banner__image img--cover">
            <img class="lazyload" src="img/banner-page.jpg" alt="image" />
        </div>
        <div class="jumbotron jumbotron--bottom text-light p-0">
            <h1 class="text-light title--special">Gallery</h1>
            <p class="lead d-none d-md-block">Take a look on our best moments.</p>
        </div>
    </div>
</section>
<div id="rsvp" class="rsvp section">
    <div class="container">
        <div class="grid">
            <!-- .grid-sizer empty element, only used for element sizing -->
            <div class="grid-sizer"></div>
            <div class="grid-item">
                <a href="img/slider/gallery-1.jpg" data-lightbox="roadtrip">
                    <img src="img/slider/gallery-1.jpg" alt="gallery">
                </a>
            </div>
            <div class="grid-item">
                <a href="img/slider/gallery-2.jpg" data-lightbox="roadtrip">
                    <img src="img/slider/gallery-2.jpg" alt="gallery">
                </a>
            </div>
            <div class="grid-item grid-item--width2">
                <a href="img/slider/gallery-3.jpg" data-lightbox="roadtrip">
                    <img src="img/slider/gallery-3.jpg" alt="gallery">
                </a>
            </div>
            <div class="grid-item">
                <a href="img/slider/gallery-4.jpg" data-lightbox="roadtrip">
                    <img src="img/slider/gallery-4.jpg" alt="gallery">
                </a>
            </div>
            <div class="grid-item">
                <a href="img/slider/gallery-5.jpg" data-lightbox="roadtrip">
                    <img src="img/slider/gallery-5.jpg" alt="gallery">
                </a>
            </div>
            <div class="grid-item">
                <a href="img/slider/gallery-6.jpg" data-lightbox="roadtrip">
                    <img src="img/slider/gallery-6.jpg" alt="gallery">
                </a>
            </div>
            <div class="grid-item">
                <a href="img/slider/gallery-7.jpg" data-lightbox="roadtrip">
                    <img src="img/slider/gallery-7.jpg" alt="gallery">
                </a>
            </div>
            <div class="grid-item grid-item--width2">
                <a href="img/slider/gallery-8.jpg" data-lightbox="roadtrip">
                    <img src="img/slider/gallery-8.jpg" alt="gallery">
                </a>
            </div>
            <div class="grid-item">
                <a href="img/slider/gallery-9.jpg" data-lightbox="roadtrip">
                    <img src="img/slider/gallery-9.jpg" alt="gallery">
                </a>
            </div>
            <div class="grid-item">
                <a href="img/slider/gallery-10.jpg" data-lightbox="roadtrip">
                    <img src="img/slider/gallery-10.jpg" alt="gallery">
                </a>
            </div>
            <div class="grid-item">
                <a href="img/slider/gallery-11.jpg" data-lightbox="roadtrip">
                    <img src="img/slider/gallery-11.jpg" alt="gallery">
                </a>
            </div>
            <div class="grid-item">
                <a href="img/slider/gallery-12.jpg" data-lightbox="roadtrip">
                    <img src="img/slider/gallery-12.jpg" alt="gallery">
                </a>
            </div>
            <div class="grid-item">
                <a href="img/slider/gallery-13.jpg" data-lightbox="roadtrip">
                    <img src="img/slider/gallery-13.jpg" alt="gallery">
                </a>
            </div>
            <div class="grid-item">
                <a href="img/slider/gallery-14.jpg" data-lightbox="roadtrip">
                    <img src="img/slider/gallery-14.jpg" alt="gallery">
                </a>
            </div>
            <div class="grid-item">
                <a href="img/slider/gallery-15.jpg" data-lightbox="roadtrip">
                    <img src="img/slider/gallery-15.jpg" alt="gallery">
                </a>
            </div>
        </div>
    </div>
</div>
