<div id="top" class="main-hero">
    <div class="c-hero-banner c-hero-banner--main">
        <div class="cover"></div>
        <div class="c-hero-banner__section c-hero-banner__image">
            <img class="lazyload" src="img/banner.jpg" alt="image">
        </div>
        <div class="mask">
            <img src="img/mask.png" alt="">
        </div>
    </div>
</div>
<!-- Section Love story -->
<section class="love-story section position-relative text-center">
    <div class="d-none d-sm-block love-story__flower-parallax position-absolute parallax">
        <img src="img/ls-flower-prlx.png" alt="flower">
    </div>
    <div class="container zhart">
        <div class="love-story__flowers m-auto">
            <img src="img/story-flowers.png" alt="flowers">
        </div>
        <h1 class="title">誠摯歡迎您一同參與我們的故事與喜悅</h1>
        <p class="m-auto" style="font-size: larger;">新郎 勝光 <i class="fa fa-heart" aria-hidden="true"></i> 新娘 潔汶</p>
    </div>
</section>
<!-- Section Date -->
<section class="date-section section section--blue countdown text-center">
    <div class="container">
        <div class="date-section__flowers m-auto">
            <img src="img/date-flowers.png" alt="flowers">
        </div>
        <div class="date-section__block">
            <div class="d-inline-block">
                <h2 class="title--special">
                    <%= config.format(config.date, 'MMM do, yyyy' ) %>
                </h2>
                <h3 class="zhart date-section__place">
                    <%= config.place %>
                </h3>
            </div>
        </div>
        <div id="timer" class="timer d-flex justify-content-center">
            <div class="timer-item">
                <span class="days timer__digit"></span>
                <div class="timer__text">days</div>
            </div>
            <div class="timer-item">
                <span class="hours timer__digit"></span>
                <div class="timer__text">hours</div>
            </div>
            <div class="timer-item">
                <span class="minutes timer__digit"></span>
                <div class="timer__text">minutes</div>
            </div>
            <div class="timer-item">
                <span class="seconds timer__digit"></span>
                <div class="timer__text">seconds</div>
            </div>
        </div>
    </div>
</section>
<!-- Section Events -->
<section id="events" class="events section text-center">
    <div class="container">
        <h1 class="title">Wedding events</h1>
        <p class="subtitle mx-auto zhart">以下為我們的婚禮時程與詳細地址~</p>
        <div id="accordion">
            <div class="accordion__header d-flex justify-content-center zhart">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    婚禮主場
                </button>
                <% if (config.id === 1) { %>
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="false" aria-controls="collapseTwo">
                    證婚場地
                </button>
                <% } %>
            </div>
            <div class="accordion__body">
                <div id="collapseOne" class="collapse show" data-parent="#accordion">
                    <div class="row">
                        <h2 class="accordion__item-heading">Dinner</h2>
                        <div class="col-md-6">
                            <img class="accordion__item-img" src="img/<%= config.hotelPhoto %>" alt="ceremony">
                        </div>
                        <div class="col-md-6 text-left">
                            <h3 class="accordion__item-subheading">When and Where</h3>
                            <p class="d-flex align-items-center zhart">
                                <i class="fa fa-lg fa-glass" aria-hidden="true"></i>
                                <%= config.place %>
                            </p>
                            <p class="d-flex align-items-center">
                                <i class="fa fa-2x fa-map-marker align-middle pr-1"></i>
                                <span class="zhart">
                                    <%= config.location %>
                                </span>
                            </p>
                            <p class="d-flex align-items-center">
                                <i class="fa fa-2x fa-clock-o align-middle pr-1"></i>
                                <span class="zhart">
                                    <%= config.time %> 入席, <%= config.format(config.date, 'MMM do, yyyy' ) %>
                                </span>
                            </p>
                            <p class="font-weight-bold zhart">交通資訊</p>
                            <a class="btn btn-outline-dark rounded-0 px-2 py-1" href="<%= config.mapUrl %>"
                                target="_blank">View on map</a>
                        </div>
                    </div>
                </div>
                <% if (config.id === 1) { %>
                <div id="collapseTwo" class="collapse" data-parent="#accordion">
                    <div class="row">
                        <h2 class="accordion__item-heading">Ceremony</h2>
                        <div class="col-md-6">
                            <img class="accordion__item-img" src="img/center_of_circle.jpg" alt="ceremony">
                        </div>
                        <div class="col-md-6 text-left">
                            <h3 class="accordion__item-subheading">When and Where</h3>
                            <p class="d-flex align-items-center">
                                <i class="fa fa-2x fa-map-marker align-middle pr-1"></i>
                                <span class="zhart">
                                    台北大直典華 - 圓心
                                </span>
                            </p>
                            <p class="d-flex align-items-center">
                                <i class="fa fa-2x fa-clock-o align-middle pr-1"></i>
                                <span class="zhart">
                                    10:00 入席, <%= config.format(config.date, 'MMM do, yyyy' ) %>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
        <div class="events__info">
            <div class="row text-left">
                <div class="col-md-6 event__info-item">
                    <h6 class="event__info-header font-weight-bold">Getting there</h6>
                    <div class="zhart"><%- config.traffic %></div>
                </div>
                <div class="col-md-6 event__info-item">
                    <h6 class="event__info-header font-weight-bold">Activities</h6>
                    <div class="zhart"><p>親愛的朋友~感謝您蒞臨我們的婚禮<br>我們精心準備以下活動邀您一起參與</p><%- config.activities %></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section Gallery -->
<section id="gallery" class="gallery section text-center">
    <div class="d-none d-lg-block gallery__flower-prlx-l position-absolute parallax">
        <img src="img/gallery-prlx-l.png" alt="flower">
    </div>
    <div class="d-none d-lg-block gallery__flower-prlx-r position-absolute parallax">
        <img src="img/gallery-prlx-r.png" alt="flower">
    </div>
    <div class="container position-relative">
        <h1 class="title"><a href="gallery">Gallery</a></h1>
        <p class="subtitle mx-auto zhart">以下為我們帥氣&美麗的婚紗照<br>
            想看更多的話請點上方Gallery就可以看到囉~</p>
        <div class="gallery__slider">
            <div class="slick-gallery slick mb-0">
                <div class="slider__item">
                    <img src="img/slider/gallery-1.jpg" alt="slider">
                </div>
                <div class="slider__item">
                    <img src="img/slider/gallery-8.jpg" alt="slider">
                </div>
                <div class="slider__item">
                    <img src="img/slider/gallery-11.jpg" alt="slider">
                </div>
                <div class="slider__item">
                    <img src="img/slider/gallery-3.jpg" alt="slider">
                </div>
                <div class="slider__item">
                    <img src="img/slider/gallery-4.jpg" alt="slider">
                </div>
                <div class="slider__item">
                    <img src="img/slider/gallery-5.jpg" alt="slider">
                </div>
            </div>
            <div class="gallery__slider-num d-none d-lg-flex">
                <div class="gallery__slider-current pr-1"></div>
                <div class="pr-1">from</div>
                <div class="gallery__slider-all"></div>
            </div>
        </div>
    </div>
</section>
<!-- Section Wishes -->
<section class="wishes section section--blue text-center">
    <div class="container">
        <h1 class="title">Wishes</h1>
        <p class="subtitle m-auto zhart">來自於各位好友的祝福</p>
        <div class="wishes__slider">
            <div class="slick slick-wishes mb-0">
                <%
                const friendList = config.wishes;
                for(let name in friendList) { %>
                <div class="slider__item">
                    <div class="wishes__person">
                        <img class="rounded-circle m-auto" src="img/people/<%= name %>.<%= friendList[name].format %>" alt="我還沒有照片" width="300" height="300">
                    </div>
                    <h4 class="wishes__title font-weight-bold zhart"><%= name %></h4>
                    <p class="mx-auto zhart">"<%- friendList[name].Greetings %>"</p>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</section>
<!-- RSVP -->
<section id="rsvp" class="rsvp section">
    <div class="container">
        <div class="row">
            <div class="d-none d-md-block col-sm-12 col-md-4">
                <img src="img/rsvp-flower.png" class="parallax" alt="flower">
            </div>
            <div class="col-sm-12 col-md-8 align-self-center">
                <h2 class="title">RSVP</h2>
                <h4 class="text-uppercase font-weight-bold mb-0 zhart mb-3">您是否願意蒞臨呢? 如果可以，請參考以下連結</h4>
                <form id="rsvp-form" action="https://jasontech.cf/wedding/projects/wedding-flowers/form.php"
                    method="post">
                    <div class="row">
                        <div class="col-md-3 align-self-end">
                            <a class="btn btn-outline-dark rounded-0 px-3 py-1 font-weight-bold"
                                href="https://www.canva.com/design/DAFRjVLdymM/8GSbpRAUmDQTJ6MI_cQn6A/view?utm_content=DAFRjVLdymM&utm_campaign=designshare&utm_medium=link&utm_source=publishsharelink"
                                target="_blank">
                                <span class="zhart">點我查看邀請函</span>
                            </a>
                        </div>
                        <div class="col-md-3 align-self-end">
                            <a class="btn btn-outline-dark rounded-0 px-3 py-1 font-weight-bold"
                                href="https://cloud.skjan.cf/apps/forms/s/dMXXpqjgg6aqnJKLdwcjSWAG" target="_blank">
                                <span class="zhart">參加喜宴表單</span>
                            </a>
                        </div>
                        <% if (config.id === 1) { %>
                        <div class="col-md-3 align-self-end">
                            <a class="btn btn-outline-dark rounded-0 px-3 py-1 font-weight-bold"
                                href="https://cloud.skjan.cf/apps/forms/s/yWMce3eSQ54wtpYrzYrgH5Ps" target="_blank">
                                <span class="zhart">證婚儀式表單</span>
                            </a>
                        </div>
                        <% } %>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="success-msg"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
