<div class="container mt-5">
    <div class="card mx-auto">
        <div class="card-header text-center"><h4>賓客查詢</h4></div>
        <div class="card-body">
            <h5 class="card-title">非常感謝您這次蒞臨參加勝光與潔汶的婚禮，請在以下欄位填寫您的大名</h5>
            <div class="form-group mt-0">
                <form method="get">
                    <div class="input-group">
                        <!-- <input type="text" name="id" id="submitId"> -->
                        <select class="guests_select custom-select" name="id" id="selectGuestId"></select>
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit" id="search-btn">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <p class="form-group text-danger mt-2">若在以上的搜尋框中找不到您的名字，請直接至收禮處報到</p>
            </div>
        </div>
    </div>
</div>
