<div class="container mt-5">
    <div class="card mx-auto">
        <div class="card-header text-center">
            <h4>賓客查詢</h4>
        </div>
        <div class="card-body text-center">
            <h5 class="card-title">
                您好，<span class="font-weight-bold"><%- person.name %></span>，您的
                <!-- parent -->
                <% if (person.parent_id !== null) { %>
                    報名代表為 <span class="font-weight-bold text-primary"><%- parent.name %></span>，
                <% } %>
                報到號碼為<span class="font-weight-bold text-primary"><%- String(parent.id).padStart(2, '0') %></span> 號
            </h5>
            <% if (parent.check_in !== null) { %>
                <h3 class="card-text mb-2 font-weight-bold" style="color: var(--teal)">您已經報到過了</h3>
            <% } %>
            <p class="card-text mb-2">請輸入參與人數
                <input type="number" name="attendance" id="attendance" size="2" min="1" max="15" step="1"
                    value="<%- parent.check_in_default %>">
            </p>
            <% if (parent.wedding_cake > 0 || parent.chinese_cake > 0) { %>
            <p class="card-text mb-2">
                <span class="font-weight-bold text-danger">囍餅 <%- (parent.wedding_cake > 0) ? parent.wedding_cake : parent.chinese_cake + "(中式)"; %>份</span>
            </p>
            <% } %>
            <p class="card-text mb-2">
                <span class="font-weight-bold" style="color: var(--pink)">您的桌次為: <%- (person.table_seating === "0") ? "主" : "第" + person.table_seating ;%>桌</span>
            </p>
            <p class="card-text mb-2">請將此畫面提供給收禮人員<%- (parent.wedding_cake > 0 || parent.chinese_cake > 0) ? "與發餅人員" : ""; %>，謝謝</p>
            <input type="hidden" id="parent_id" value="<%- person.parent_id %>">
            <button class="btn btn-primary" type="button" id="submitBtn">點我查看座位表</button>
        </div>
    </div>
</div>
