<div id="loader" class="loader">
    <div id="my-svg"></div>
    <div class="loader-img text-center">
        <img src="img/story-flowers.png" alt="flowers">
    </div>
</div>
<section class="page-hero">
    <div class="c-hero-banner c-hero-banner--md">
        <div class="c-hero-banner__section c-hero-banner__image img--cover">
            <img class="lazyload" src="img/banner-page.jpg" alt="image" />
        </div>
        <div class="jumbotron jumbotron--bottom text-light p-0">
            <h1 class="text-light title--special">RSVP</h1>
            <p class="lead d-none d-md-block">We are waiting for you on our wedding.</p>
        </div>
    </div>
</section>
<section id="rsvp" class="rsvp section">
    <div class="container">
        <div class="row">
            <div class="d-none d-sm-block col-sm-12 col-md-4">
                <img src="img/rsvp-flower.png" class="parallax" alt="flower">
            </div>
            <div class="col-sm-12 col-md-8">
                <h2 class="title mb-2">RSVP</h2>
                <h6 class="text-uppercase font-weight-bold mb-0">Will you attend?</h6>
                <form id="rsvp-form" action="https://jasontech.cf/wedding/projects/wedding-flowers/form.php" method="post">
                    <div class="row">
                        <div class="col-md-8 mb-3 m-md-0">
                            <div class="form-group">
                                <label class="control-label" for="inputName">Your name</label>
                                <input type="text" class="form-control" id="inputName" required>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="inputFriendName">Who is comming with you</label>
                                <input type="text" class="form-control" id="inputFriendName" required>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="inputNumber">Contact number</label>
                                <input type="tel" class="form-control" id="inputNumber" required>
                            </div>
                        </div>
                        <div class="col-md-4 align-self-end">
                            <button type="submit" class="btn btn-outline-dark rounded-0 px-3 py-1 font-weight-bold">Send</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="success-msg"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
