<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/wedding/dist/backstage.css">
    <link rel="icon" type="image/png" href="/wedding/img/favicon.png">
    <title>座位表</title>
</head>

<body>
    <div class="container text-center mt-5">
        <div class="card">
            <div class="card-header text-center font-weight-bold"><h3>囍宴座位表</h3></div>
            <div class="card-body" id="seat-container">
                <h4 class="card-text">若有疑問可以詢問招待呦</h4>
                <canvas id="seat"></canvas>
            </div>
        </div>
    </div>
    <input type="hidden" id="seat-info" value='<%- drawInfo %>'>
</body>
<script src="/wedding/dist/backstage.bundle.js"></script>
</html>
