<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>賓客登記</title>
    <link rel="stylesheet" type="text/css" href="/wedding/dist/backstage.css">
    <link rel="icon" type="image/png" href="/wedding/img/favicon.png">
</head>

<body>
    <div id="my-svg" class="d-none"></div>
    <%- body %>
    <script src="/wedding/dist/backstage.bundle.js"></script>
</body>

</html>
