<!DOCTYPE html>
<html lang="en">

<head>
    <title>勝餘光陰 永潔同心</title>
    <meta charset=utf-8>
    <meta name=description content="">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <!-- Styles -->
    <!-- <link rel="stylesheet" type="text/css" href="css/vendor/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/vendor/slick.css">
    <link rel="stylesheet" type="text/css" href="css/vendor/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="css/vendor/lightbox.min.css"> -->
    <!-- Main style -->
    <!-- <link rel="stylesheet" type="text/css" href="css/main.css"> -->
    <link rel="stylesheet" type="text/css" href="/wedding/dist/main.css">
    <!-- Fonts -->
    <!-- <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css"> -->
    <link
        href="https://fonts.googleapis.com/css?family=Playfair+Display%7COpen+Sans:300,400,600,700%7CSource+Serif+Pro%7CDosis"
        rel="stylesheet">
    <link rel="icon" type="image/png" href="/wedding/img/favicon.png">
</head>
<!-- play button -->
<div class="container-chk" id="container-chk">
    <input type="checkbox" class="playpause-chk" id="chkbx">
    <label for="chkbx"></label>
</div>
<body data-spy="scroll" data-target="#navbarSupportedContent" data-offset="100">
    <%- nav %>
    <div id="loader" class="loader">
        <div id="my-svg"></div>
        <div class="loader-img text-center">
            <img src="img/story-flowers.png" alt="flowers">
        </div>
    </div>
    <%- body %>
    <!-- Footer -->
    <footer class="section">
        <div class="container text-white position-relative">
            <div class="footer__title">
                <div class="text-center zhart"><i class="fa fa-star-o" aria-hidden="true"></i>期待您的到來<i class="fa fa-star" aria-hidden="true"></i></div>
                <div class="text-center zhart">Jason & Jessica</div>
                <div class="text-center zhart">與您分享我們的喜悅</div>
                <div class="text-center zhart">祝您 平安幸福<i class="fa fa-heart" aria-hidden="true"></i></div>
            </div>
            <div class="row pb-4">
                <div class="col-md text-center zhart">
                    <p>若有問題可以撥打電話詢問飯店或是可寫信與我們聯繫喔</p>
                </div>
                <!-- <div class="col-md-6 text-justify">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                        cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div> -->
            </div>
            <div class="row pb-4">
                <!-- <div class="col-md-12 border p-1 mx-1">
                    <ul class="d-sm-flex justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="#">Events</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="#cases">Gallery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="#donations">Testimanials</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="#news">Contacts</a>
                        </li>
                    </ul>
                </div> -->
                <div class="col-md-12 border border-bottom-0 mx-1">
                    <div class="row">
                        <div class="col-md-4 text-center border-right border-bottom px-0">
                            <div class="pt-1 pb-1">
                                <i class="fa fa-phone fa-3x"></i>
                            </div>
                            <div class="pb-1"><a href="tel:<%= config.tel %>"><%= config.tel %></a></div>
                        </div>
                        <div class="col-md-4 text-center border-right border-bottom px-0">
                            <div class="pt-1 pb-1">
                                <i class="fa fa-map-marker fa-3x"></i>
                            </div>
                            <div class="pb-1"><a href="<%= config.mapUrl %>" target="_blank"><%= config.city %></a></div>
                        </div>
                        <div class="col-md-4 text-center border-bottom px-0">
                            <div class="pt-1 pb-1">
                                <i class="fa fa-envelope-o fa-3x"></i>
                            </div>
                            <div class="pb-1"><a href="mailto:cj.life005@gmail.com" target="_blank">cj.life005@gmail.com</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright text-center">&copy; Copyright <%= (new Date()).getFullYear(); %>. All right Reserved.</div>
        </div>
    </footer>
    <script src="/wedding/dist/main.bundle.js"></script>
    <!-- <script src="js/vendor/jquery.min.js"></script>
    <script src="js/vendor/jquery.easing.js"></script>
    <script src="js/vendor/popper.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/vendor/slick.min.js"></script>
    <script src="js/vendor/vivus.min.js"></script>
    <script src="js/vendor/circletype.min.js"></script>
    <script src="js/vendor/masonry.pkgd.min.js"></script>
    <script src="js/vendor/howler.min.js"></script>
    <script src="js/vendor/lightbox.min.js"></script>
    <script src="js/main.js"></script> -->
</body>

</html>
