<h5 class="card-title mb-4">
    <span class="font-weight-bold text-primary"><%- String(id).padStart(2, '0') %></span> 號
    賓客為 <span class="font-weight-bold text-danger"><%- name %></span> 先生/小姐
</h5>
